{
    "IssueTokenFunction": {
        "TABLE_NAME_TOKENS": "apicize-sample-tokens",
        "CIPHER_KEY": "ivB2q9O3UKqWzFxw+htnXsRs8cqxC7juc9yaDqlr+6w=",
        "DYNAMODB_ENDPOINT": "http://127.0.0.1:8000"
    },
    "ImageFunction": {
        "TABLE_NAME_TOKENS": "apicize-sample-tokens",
        "CIPHER_KEY": "ivB2q9O3UKqWzFxw+htnXsRs8cqxC7juc9yaDqlr+6w=",
        "DYNAMODB_ENDPOINT": "http://127.0.0.1:8000"
    },
    "QuotesFunction": {
        "TABLE_NAME_TOKENS": "apicize-sample-tokens",
        "TABLE_NAME_QUOTES": "apicize-sample-quotes",
        "CIPHER_KEY": "ivB2q9O3UKqWzFxw+htnXsRs8cqxC7juc9yaDqlr+6w=",
        "DYNAMODB_ENDPOINT": "http://127.0.0.1:8000"
    },
    "CalcFunction": {
        "TABLE_NAME_TOKENS": "apicize-sample-tokens",
        "CIPHER_KEY": "ivB2q9O3UKqWzFxw+htnXsRs8cqxC7juc9yaDqlr+6w=",
        "DYNAMODB_ENDPOINT": "http://127.0.0.1:8000"
    }
}
